.banner(style="background-image: url(images/banner.jpg)")
	.banner__content.row.no-gutters.align-items-center
		.container.container--small
			.banner__info
				h1 Логистический комплекс ТМк
				p.banner__text Мы предлагаем вам услуги не только большой, но и полностью оснащенный современным оборудованием склад европейского уровня категории «А».
				.banner__contacts.row.no-gutters.justify-content-between
					.banner__contacts__item
						h4 Булатов Денис
						div +7 (910) 136-73-78
						div post24@tmktools.ru
					.banner__contacts__item
						h4 Балакирев Алексей
						div +7 (987) 398-45-42
						div post29@tmktools.ru

