.block.contacts#contacts
	.container.container--small
		h2 Контакты
		.row.no-gutters.justify-content-between
			div.contacts__item
				h4 Булатов Денис
				div
					div +7 (910) 136-73-78
					div post24@tmktools.ru
			div.contacts__item
				h4 Балакирев Алексей
				div
					div +7 (987) 398-45-42
					div post29@tmktools.ru
			div.contacts__item
				a(href="#", data-toggle="modal" data-target="#popup").btn.btn-red Оставить заявку на консультацию
.block.gps
	.container.container--small
		.gps__content.row.no-gutters.justify-content-between
			h2.gps__name Нижегородская область, г. Дзержинск, Автозаводское шоссе, 6 километр, строение 1
			.gps__info
				.gps__number 56.256077, 43.607824
				.gps__link
					a(href="#") скопировать координаты


