footer.footer
	.container
		.footer-top
			.row.no-gutters.justify-content-between
				.logo.hidden-md
					img(src="images/logo.png", alt="")
				.footer__item
					h4.footer-btn Контактная информация
					.footer__item__content
						.footer__info
							.footer__info__title Горячая линия
							.footer__info__text 8 800 700-70-77
						.footer__info
							.footer__info__title Электронная почта
							.footer__info__text hello@tmktools.ru
						ul.footer__menu
							li 
								a(href="#") Организациям
							li 
								a(href="#") Арендодателям
							li 
								a(href="#") Контакты
				.footer__item
					h4.footer-btn О компании
					.footer__item__content
						ul.footer__menu
							li
								a(href="#") О нас
							li
								a(href="#") Новости
							li
								a(href="#") Корпоративная газета
							li
								a(href="#") Логистический комплекс
							li
								a(href="#") Вакансии
							li
								a(href="#") Франчайзинг
							li
								a(href="#") Реквизиты
				.footer__item
					h4.footer-btn Покупателям
					.footer__item__content
						ul.footer__menu
							li
								a(href="#") Магазины
							li
								a(href="#") Сервисные центры
							li
								a(href="#") Доставка и оплата
							li
								a(href="#") Гарантия
							li
								a(href="#") Дисконтная программа
							li
								a(href="#") Полезные статьи
							li
								a(href="#") Подарочные сертификаты
							li
								a(href="#") Политика конфиденциальности
				.footer__item.footer__item--right
					.footer-right-item
						h4.footer-title-right Мы в соцсетях
						.footer__social
							a(href="#").middle
								i.fa.fa-facebook-official
							a(href="#").middle
								i.fa.fa-vk
							a(href="#").middle
								i.fa.fa-odnoklassniki
							a(href="#").middle
								i.fa.fa-google-plus
					.footer-right-item
						h4.footer-title-right Принимаем к оплате
						.footer__payment
							a(href="#").middle
								img(src="images/visa.png", alt="")
							a(href="#").middle
								img(src="images/mastercard.png", alt="")
							a(href="#").middle
								img(src="images/mir.png", alt="")
		.footer-bottom.row.no-gutters.justify-content-between
			div
				| © 1993 - 2017 «ТМК Инструмент». Все права защищены.
			div
				| Сделано в Greensight


						















						
							








