.form
	.container.container--small
		.form-wrapp.row.no-gutters.justify-content-between.align-items-end
			.form__text
				h4 Подпишитесь на акции
				p Узнавайте о выгодных предложениях и получайте личные рекомендации
			.form__item
				form
					input(type="text", placeholder="Ваш email").form-control
					button(type="submit").form-submit
