.fixed-menu
	ul
		li
			a(href="#about").sroll-btn О комплексе
		li
			a(href="#partners").sroll-btn Партнеры
		li
			a(href="#services").sroll-btn Услуги
		li
			a(href="#price").sroll-btn Стоимость
		li
			a(href="#contacts").sroll-btn Контакты
header.header
	.container
		.row.no-gutters.justify-content-between.align-items-end
			.logo
				a(href="#")
					span.logo__img.d-inline-block
						img(src="images/logo.png", alt="")
					span.logo__text.d-inline-block.hidden-sm
						| Надежность проверена временем
			.phone.hidden-md
				.phone__info Бесплатно по России. С 9:00 до 22:00
				.phone__number
					span.middle 8 800 700-70-77
					span.middle
			ul.menu.hidden-lg
				li
					a(href="#") Магазины
				li
					a(href="#") Доставка и оплата
				li
					a(href="#") Сервис
				li
					a(href="#") Франчайзинг
			.city.hidden-lg
				.city__title Ваш город:
				.city__item Нижний Новгород
			.enter.hidden-lg
				a(href="#").enter__link
					| Войти / 
				a(href="#").enter__link Регистрация
			.profile
				a(href="#").profile__btn.compare-link.middle
				a(href="#").profile__btn.wishlist-link.middle
				a(href="#").profile__btn.basket-link.middle
					span.profile__count 3
				                        
					