.block.partners#partners
	.container.container--small
		.partners__content
			.partners__header
				h2 Мы уже помогаем хранить, обрабатывать и экспедировать грузы
			.partners__list.row.no-gutters.justify-content-between
				.partners__img
					img(src="images/Procter_and_Gamble_Logo.png", alt="")
				.partners__img
					img(src="images/Sibur.png", alt="")
				.partners__img
					img(src="images/LUK_OIL_Logo_kyr.png", alt="")
	.container.container--middle
		img(src="images/Photo_complex.jpg", alt="")
