.modal.fade(role="dialog")#popup
	.modal-dialog
		.modal-content
			a(href="#", data-dismiss="modal").close
			h3.modal-title Консультация
			form
				.form-group
					.label Телефон
					input(type="text").form-control.form-control--modal
				.form-group
					.label Как вас зовут
					input(type="text").form-control.form-control--modal
				.form-group
					input(type="checkbox").checkbox#checkbox
					label(for="checkbox") Я согласен с условиями передачи данных
				.form-group
					button(type="submit").btn.btn-red.btn-submit Перезвоните мне