.block.price#price
	.container.container--small
		h2 Стоимость услуг
		.price__content
			table.price-table
				thead
					tr
						td Услуга
						td Тариф, руб., с НДС
				tbody
					tr
						td Хранение, ставка за 1 паллету, в сутки
						td
					tr.price-inner
						td класс евро, 1200х800, высота не более 1750 мм, вес не более 800 кг
						td от 10 до 16
					tr
						td Прием паллетированного товара, за 1 паллету
						td 60
					tr
						td Отпуск паллетированного товара, за 1 паллету
						td 60