.services.block#services
	.container.container--middle
		.slideshow2
			div
				.row
					.col-lg-6.col-md-6
						.services__info.row.no-gutters.align-items-center
							div
								h2 Наши услуги
								ul.services__list
									li Приём, регистрация и отпуск товара
									li Механизированная и ручная погрузка-выгрузка товара
									li Складская логистика
									li Паллетное, напольное и мелкоячеистое хранение
									li Кросс-докинг 
									li 3PL (Third Party Logistics)
									li Паллетирование товара по требованиям заказчика
									li Сортировка товара при поступлении его на склад
									li Комплектация и подбор заказов для отгрузки
									li Возвратная логистика
								.page
									.middle.left-arrow.services-prev
									.page__number.middle
										| 1/2
									.middle.right-arrow.services-next
					.col-lg-6.col-md-6
						.services__img
							img(src="images/image.jpg", alt="")
			div
				.row
					.col-lg-6.col-md-6
						.services__info.row.no-gutters.align-items-center
							div
								h2 Наши услуги
								ul.services__list
									li Приём, регистрация и отпуск товара
									li Механизированная и ручная погрузка-выгрузка товара
									li Складская логистика
									li Паллетное, напольное и мелкоячеистое хранение
									li Кросс-докинг 
									li 3PL (Third Party Logistics)
									li Паллетирование товара по требованиям заказчика
								.page.page--services
									.middle.left-arrow.services-prev
									.page__number.middle
										| 1/2
									.middle.right-arrow.services-next
					.col-lg-6.col-md-6
						.services__img
							img(src="images/image.jpg", alt="")
		