.block#about
	.container.container--small
		.stock-header
			h2 Доверьте складскую логистику профессионалам
			p Мы оказываем полный комплекс услуг по ответственному хранению грузов. Наши сотрудники точно знают, как на надлежащем уровне обеспечить размещение и обработку любых изделий и комплектующих: от штучного товара до крупногабаритного оборудования, от авторучек до строительных материалов.
	.stock
		.slideshow
			div 	
				.container.container--middle
					.row.justify-content-between
						.col-xl-6.col-lg-6.col-md-5
							.stock__img
								img(src="images/sklad.jpg", alt="")
						.col-xl-5.col-lg-6.col-md-7
							.stock__info
								.stock__info__item
									.stock__info__title до 18 000 м3
									p грузов можно разместить на нашем складе
								.stock__info__item
									.stock__info__title 11.5 м
									p рабочая высота потолков
								.stock__info__item
									.stock__info__title 6 т/м2
									p нагрузка на пол
							.stock__footer
								p Также на нашем складе
								h4 Автоматическая поддержка температурного режима
								.page.page--stock
									.middle.left-arrow.stock-prev
									.page__number.middle
										| 1/2
									.middle.right-arrow.stock-next
			div 	
				.container.container--middle
					.row.justify-content-between
						.col-xl-6.col-lg-6.col-md-5
							.stock__img
								img(src="images/sklad.jpg", alt="")
						.col-xl-5.col-lg-6.col-md-7
							.stock__info
								.stock__info__item
									.stock__info__title до 18 м3
									p грузов можно разместить на нашем складе
								.stock__info__item
									.stock__info__title 5454 м
									p рабочая высота потолков
								.stock__info__item
									.stock__info__title 66 т/м2
									p нагрузка на пол
							.stock__footer
								p Также на нашем складе
								h4 Автоматическая поддержка температурного режима
								.page.page--stock
									.middle.left-arrow.stock-prev
									.page__number.middle
										| 1/2
									.middle.right-arrow.stock-next