extends pug/base

append vars
	//- ...

block content
	include pug/sidebar
	include pug/header
	include pug/banner
	include pug/stock
	include pug/partners
	include pug/services
	include pug/price
	include pug/contacts
	include pug/map
	include pug/form
	include pug/footer
	include pug/popup




