@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

@font-face {
    font-family: 'Akrobat_Extra_Bold';
    src: url('../fonts/Akrobat_Extra_Bold/Akrobat_Extra_Bold.eot');
    src: url('../fonts/Akrobat_Extra_Bold/Akrobat_Extra_Bold.eot') format('embedded-opentype'),
         url('../fonts/Akrobat_Extra_Bold/Akrobat_Extra_Bold.woff2') format('woff2'),
         url('../fonts/Akrobat_Extra_Bold/Akrobat_Extra_Bold.woff') format('woff'),
         url('../fonts/Akrobat_Extra_Bold/Akrobat_Extra_Bold.ttf') format('truetype'),
         url('../fonts/Akrobat_Extra_Bold/Akrobat_Extra_Bold.svg#Akrobat_Extra_Bold') format('svg');
}
@font-face {
    font-family: 'Akrobat_Semi_Bold';
    src: url('../fonts/Akrobat_Semi_Bold/Akrobat_Semi_Bold.eot');
    src: url('../fonts/Akrobat_Semi_Bold/Akrobat_Semi_Bold.eot') format('embedded-opentype'),
         url('../fonts/Akrobat_Semi_Bold/Akrobat_Semi_Bold.woff2') format('woff2'),
         url('../fonts/Akrobat_Semi_Bold/Akrobat_Semi_Bold.woff') format('woff'),
         url('../fonts/Akrobat_Semi_Bold/Akrobat_Semi_Bold.ttf') format('truetype'),
         url('../fonts/Akrobat_Semi_Bold/Akrobat_Semi_Bold.svg#Akrobat_Semi_Bold') format('svg');
}
